<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.generator.mapper.OAkeywordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.generator.entity.OAkeyword">
        <id column="OAkeywordId" property="OAkeywordId" />
        <result column="OAId" property="OAId" />
        <result column="keywordId" property="keywordId" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OAkeywordId, OAId, keywordId, createTime
    </sql>

</mapper>
