<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.generator.mapper.OaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.generator.entity.Oa">
        <id column="OAId" property="OAId" />
        <result column="content" property="content" />
        <result column="timestamp" property="timestamp" />
        <result column="title" property="title" />
        <result column="departmentId" property="departmentId" />
        <result column="keywords" property="keywords" />
        <result column="subscribeNumber" property="subscribeNumber" />
        <result column="collectNunber" property="collectNunber" />
        <result column="time" property="time" />
        <result column="place" property="place" />
        <result column="keyText" property="keyText" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OAId, content, timestamp, title, departmentId, keywords, subscribeNumber, collectNunber, time, place, keyText
    </sql>

</mapper>
