<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.generator.mapper.UserDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.generator.entity.UserDepartment">
        <id column="userDepartmentId" property="userDepartmentId" />
        <result column="userId" property="userId" />
        <result column="departmentId" property="departmentId" />
        <result column="time" property="time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userDepartmentId, userId, departmentId, time
    </sql>

</mapper>
